.searchbar_container {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.searchbar_container > input {
  flex: 1;
  padding: 16px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 8px;
}

.searchbar_container > button {
  width: 80px;
  border: none;
  border-radius: 8px;
  background-color: rgb(37, 147, 255);
  color: #fff;
  cursor: pointer;
}